
@{
    ViewBag.Title = "IndexProviders";
}


<div class="row">
    <div class="col-md-5">
        <p> Monto</p>
        <input type="number" class="form-control" name="Monto" id="Monto" value="1" />
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="binance">
            <label class="form-check-label" for="inlineRadio1">Binance</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="kraken">
            <label class="form-check-label" for="inlineRadio2">Kraken</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="buda">
            <label class="form-check-label" for="inlineRadio3">Buda</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="bitstamp">
            <label class="form-check-label" for="inlineRadio4">bitstamp</label>
        </div>
    </div>
    <div class="col-md-7">
        <br /><br />
        <button class="btn btn-primary" onclick="ResultProvider()">Calcular</button>
        <button class="btn btn-primary" onclick="balance()">Balancear Cuentas</button>
    </div>
    <div class="col-md-12">
        <div id="nft-providers"></div>
    </div>
       
    </div>
    <script>
        function ResultProvider() {
            var nftpro = $("#nft-providers");
            var Monto = $("#Monto").val();
            debugger;
            var select = $('input[name="inlineRadioOptions"]:checked').val();
            $.ajax({
                url: "/Home/ProvidersBalance?Monto=" + Monto + "&exChange=" + select,
                type: 'POST',
                dataType: 'html',
                cache: false,
                success: function (html) {
                    nftpro.html(html);
                }
            });
        }
        function balance() {
            var nftpro = $("#nft-providers");
            var Monto = 0;
            debugger;
            var select = $('input[name="inlineRadioOptions"]:checked').val();
            $.ajax({
                url: "/Home/ProvidersBalance?Monto=" + Monto + "&exChange=" + select,
                type: 'POST',
                dataType: 'html',
                cache: false,
                success: function (html) {
                    nftpro.html(html);
                }
            });
        }
    </script>
